/**
 * mvi组件库中常用的css样式配置
 * 主要包含边框、字体、颜色等基础信息
 */
//字体颜色
@font-color-default: #505050;
@font-color-sub: #808080;
@font-color-mute: #bbb;
@font-color-link: #0547c3;

//背景色
@bg-color-default: #f7f8fa;
@bg-color-dark: #ebedf0;

//字体大小
@font-size-default: 0.28rem;
@font-size-small: 0.24rem;
@font-size-h6: 0.32rem;
@font-size-h5: 0.36rem;
@font-size-h4: 0.4rem;
@font-size-h3: 0.44rem;
@font-size-h2: 0.48rem;
@font-size-h1: 0.54rem;

//边框颜色
@border-color: #ddd;

//主题颜色
@info-normal: #03a8f3;
@info-shadow: rgba(3, 168, 243, 0.5);
@error-normal: #ec1a0a;
@error-shadow: rgba(236, 26, 10, 0.5);
@warn-normal: #f90;
@warn-shadow: rgba(255, 153, 0, 0.5);
@success-normal: #07c160;
@success-shadow: rgba(7, 193, 96, 0.5);
@primary-normal: #0b73de;
@primary-shadow: rgba(11, 115, 222, 0.5);

//浅主题色
@light-default: #e2e7ea;
@light-info: #c3ebff;
@light-success: #c2fdc4;
@light-warn: #ffd6b6;
@light-primary: #1eacf3;
@light-error: #f9cec3;

//默认字体样式
@font-family: 'PingFang SC', 'Helvetica Neue', Helvetica, Roboto, 'Segoe UI', 'Microsoft YaHei', Arial, sans-serif;

//遮罩颜色
@overlay: rgba(0, 10, 20, 0.6);

//常用的margin与padding距离
@mp-xs: 0.1rem;
@mp-sm: 0.2rem;
@mp-md: 0.3rem;
@mp-lg: 0.4rem;

//常用的圆角
@radius-default: 0.08rem;
@radius-round: 999rem;
@radius-circle: 50%;

//高度
@mini-height: 0.6rem;
@small-height: 0.72rem;
@medium-height: 0.88rem;
@large-height: 1rem;

//阴影
@boxshadow:0.01rem 0.04rem 0.2rem rgba(0,0,0,.1);

//点击态
.mvi-active(@background:#032237) {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	background-color: @background;
	border: inherit;
	border-color: @background;
	border-radius: inherit;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0.1;
	content: ' ';
	box-sizing: content-box;
}
