@import '@/css/base.less';

.mvi-tabbar {
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: @mini-height * 2;
	background-color: #fff;
	padding: 0 @mp-xs;
	color: var(--mvi-font-color-default);

	&.border {
		border-top: 1px solid var(--mvi-border-color);
	}

	&.fixed {
		position: fixed;
		bottom: 0;
		left: 0;
	}
}
