@import '@/css/base.less';

.mvi-circle-progress {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

.mvi-circle-progress > svg {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.mvi-circle-progress-track {
	fill: none;
	stroke: var(--mvi-bg-color-dark);
	margin: 0;
	padding: 0;
}

.mvi-circle-progress-bar {
	fill: none;
	stroke: var(--mvi-info-normal);
	margin: 0;
	padding: 0;
	stroke-linecap: square;
}

.mvi-circle-progress-tip {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: @font-size-default;
	color: var(--mvi-font-color-sub);
	line-height: 1.5;
	text-align: center;
	z-index: 10;
}
