@import '@/css/base.less';

.mvi-divider {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--mvi-font-color-mute);
	user-select: none;

	.mvi-divider-left {
		flex: 1;
		display: block;
		height: 0px;
		border-top: 1px solid var(--mvi-border-color);
	}

	.mvi-divider-center {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 @mp-sm;
	}

	.mvi-divider-right {
		flex: 1;
		display: block;
		height: 0px;
		border-top: 1px solid var(--mvi-border-color);
	}

	&.dashed > .mvi-divider-left,
	&.dashed > .mvi-divider-right {
		border-top-style: dashed;
	}
}
